<div>
    <h2 id="page-heading">
        <span jhiTranslate="evaluateApp.speaker.home.title">Speakers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-speaker" [routerLink]="['/speaker/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="evaluateApp.speaker.home.createLabel">
            Create new Speaker
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="speakers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="evaluateApp.speaker.title">Title</span></th>
            <th><span jhiTranslate="evaluateApp.speaker.orgName">Org Name</span></th>
            <th><span jhiTranslate="evaluateApp.speaker.actor">Actor</span></th>
            <th><span jhiTranslate="evaluateApp.speaker.speaker">Speaker</span></th>
            <th width="100px"><span jhiTranslate="evaluateApp.speaker.level">Level</span></th>
            <th><span jhiTranslate="evaluateApp.speaker.pdf">Pdf</span></th>
            <th><span jhiTranslate="evaluateApp.speaker.path">Path</span></th>
            <th><span jhiTranslate="evaluateApp.speaker.review">Review</span></th>
            <th><span jhiTranslate="evaluateApp.speaker.remark">Remark</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let speaker of speakers ;trackBy: trackId">
                <td><a [routerLink]="['/speaker', speaker.id, 'view' ]">{{speaker.id}}</a></td>
                <td>{{speaker.title}}</td>
                <td>{{speaker.orgName}}</td>
                <td>{{speaker.actor}}</td>
                <td>{{speaker.speaker}}</td>
                <td jhiTranslate="{{'evaluateApp.speaker.LevelFilter.' + speaker.level}}">{{speaker.level}}</td>
                <!--<td jhiTranslate="{{'evaluateApp.Level.' + speaker.level}}">{{speaker.level}}</td>-->
                <td>
                    <a *ngIf="speaker.path" (click)="openFile(speaker.pdfContentType, speaker.path)" jhiTranslate="entity.action.open">open</a>
                    <!--<span *ngIf="speaker.path">{{speaker.path}}</span>-->
                </td>
                <!--<td>{{speaker.path}}</td>-->
                <!--<td jhiTranslate="{{'evaluateApp.Review.' + speaker.review}}">{{speaker.review}}</td>-->
                <td jhiTranslate="{{'evaluateApp.speaker.ReviewFilter.' + speaker.review}}">{{speaker.review}}</td>
                <td>{{speaker.remark}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/speaker', speaker.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/speaker', speaker.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'speaker', { outlets: { popup: speaker.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
