<div>
    <h2 id="page-heading">
        <span>评价管理</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="speakers">
        <table class="table table-striped" style="text-align: center;table-layout: fixed;">
            <thead>
            <tr>
            <th style="width:60px;">序号</th>
            <th style="width:120px;">标题</th>
            <th style="width:160px;">主要完成单位</th>
            <th style="width:140px;">主要完成人</th>
            <th style="width:80px;">演讲者</th>
            <th style="width:80px;">级别</th>
            <th style="width:200px;">任务来源</th>
            <th style="width:160px;">分值</th>
            <th style="width:200px;">主要发现和创新点</th>
            <th style="width:160px;">分值</th>
            <th style="width:180px;">先进程度</th>
            <th style="width:160px;">分值</th>
            <th style="width:200px;">应用与推广及其效益</th>
            <th style="width:160px;">分值</th>
            <th style="width:220px;">论文、著作、知识产权分值</th>
            <th style="width:160px;">答辩分值</th>
            <th style="width:160px;">总分</th>
            <th style="width:160px;">创建时间</th>
            <th style="width:160px;">更新时间</th>
            <th style="width:160px;">评价者</th>
            <th style="width:160px;">备注</th>
            <th style="width:120px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let speaker of speakers ;trackBy: trackId">
                <td>{{speaker.id}}</td>
                <td><a>{{speaker.title}}</a></td>
                <td>{{speaker.orgName}}</td>
                <td>{{speaker.actor}}</td>
                <td>{{speaker.speak}}</td>
                <td >{{speaker.level}}</td>
                <!-- 任务来源 -->
                <td>
                    <select class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.taskSource" (change)="taskMain(speaker.taskSource)">
                        <option *ngFor="let item of taskOptions" [value]="item.value" [label]="item.label">{{item.label}}</option>
                        </select>
                        <div *ngIf="!speaker.taskSource">
                            <small class="form-text text-danger" >请输入任务来源</small>
                        </div>
                    </form>
                </td>
                <td>
                    <input type="text" class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.taskSourceScore" (change)="taskScoreMain(speaker.taskSource,speaker.taskSourceScore)">
                    <div *ngIf="!taskShow">
                        <small class="form-text text-danger" >{{taskTitel}}</small>
                    </div>
                </td>
                <!-- 主要发现和创新点 -->
                <td>
                    <select class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.discoveryAndInnovation" (change)="discoveryMain(speaker.discoveryAndInnovation)">
                        <option *ngFor="let item of discoveryOptions" [value]="item.value" [label]="item.label">{{item.label}}</option>
                        </select>
                        <div *ngIf="!speaker.discoveryAndInnovation">
                            <small class="form-text text-danger" >请输入主要发现和创新点</small>
                        </div>
                    </form>
                </td>
                <td>
                        <!-- (change)="discoveryScoreMain(speaker.discoveryAndInnovation,speaker.discoveryAndInnovationScore)" -->
                    <input type="text" class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.discoveryAndInnovationScore" (change)="discoveryScoreMain(speaker.discoveryAndInnovation,speaker.discoveryAndInnovationScore)">
                    <div *ngIf="!discoveryShow">
                        <small class="form-text text-danger" >{{discoveryTitel}}</small>
                    </div>
                </td>
                <!-- 先进程度 -->
                <td>
                    <select class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.advancedLevel" (change)="levelMain(speaker.advancedLevel)">
                        <option *ngFor="let item of levelOptions" [value]="item.value" [label]="item.label">{{item.label}}</option>
                        </select>
                        <div *ngIf="!speaker.advancedLevel">
                            <small class="form-text text-danger" >请输入先进程度</small>
                        </div>
                    </form>
                </td>
                <td>
                        <!--  -->
                    <input type="text" class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.advancedLevelScore" (change)="levelScoreMain(speaker.advancedLevel,speaker.advancedLevelScore)">
                    <div *ngIf="!levelShow">
                        <small class="form-text text-danger" >{{levelTitel}}</small>
                    </div>
                </td>
                <!-- 应用与推广及其效益 -->
                <td>
                    <select class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.applicationAndPromotion" (change)="applicationOptionsMain(speaker.applicationAndPromotion)">
                        <option *ngFor="let item of applicationOptions" [value]="item.value" [label]="item.label">{{item.label}}</option>
                        </select>
                        <div *ngIf="!speaker.applicationAndPromotion">
                            <small class="form-text text-danger" >请输入应用与推广及其效益</small>
                        </div>
                    </form>
                </td>
                <td>
                    <input type="text" class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.applicationAndPromotionScore" (change)="applicationScoreMain(speaker.applicationAndPromotionScore)">
                    <div *ngIf="!applicationShow">
                        <small class="form-text text-danger" >{{applicationTitel}}</small>
                    </div>
                </td>
                <!-- 论文、著作、知识产权 -->
                <td>
                    <input type="text" class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.paperScore" (change)="paperScoreMain(speaker.paperScore)">
                    
                </td>
                <!-- 答辩 -->
                <td>
                    <input type="text" class="form-control" id='txt_name_{{speaker.id}}' [(ngModel)]="speaker.replyScore" (change)="replyScoreMain(speaker.replyScore)">
                    
                </td>
                <td> {{totalNumber}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                       <button type="submit" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" >保存</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
